In [2]:
pip install tpot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tpot
  Downloading TPOT-0.11.7-py3-none-any.whl (87 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.2/87.2 kB 9.4 MB/s eta 0:00:00
Collecting stopit>=1.1.1
  Downloading stopit-1.1.2.tar.gz (18 kB)
  Preparing metadata (setup.py) ... done
Collecting deap>=1.2
  Downloading deap-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.8/139.8 kB 21.7 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.9/dist-packages (from tpot) (4.65.0)
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.9/dist-packages (from tpot) (1.10.1)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.9/dist-packages (from tpot) (1.2.0)
Requirement already satisfied: xgboost>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tpot) (1.7.5)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.9/dist-packages (from tpot) (1.2.2)
Collecting update-checker>=0.16
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.9/dist-packages (from tpot) (1.5.3)
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.9/dist-packages (from tpot) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.24.2->tpot) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22.0->tpot) (3.1.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.9/dist-packages (from update-checker>=0.16->tpot) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-py3-none-any.whl size=11954 sha256=efade45c202ba2b3f3adb91b8ba30b1830d422e09b392eeb574d145efba92eb9
  Stored in directory: /root/.cache/pip/wheels/48/8c/93/3afb1916772591fe6bcc25cdf8b1c5bdc362f0ec8e2f0fd413
Successfully built stopit
Installing collected packages: stopit, deap, update-checker, tpot
Successfully installed deap-1.3.3 stopit-1.1.2 tpot-0.11.7 update-checker-0.18.0

In [3]:
!pip install --upgrade feature_engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature_engine
  Downloading feature_engine-1.6.0-py2.py3-none-any.whl (319 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 319.4/319.4 kB 23.8 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from feature_engine) (1.10.1)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.9/dist-packages (from feature_engine) (1.22.4)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from feature_engine) (1.2.2)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from feature_engine) (0.13.5)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.9/dist-packages (from feature_engine) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.3->feature_engine) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.11.1->feature_engine) (23.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels>=0.11.1->feature_engine) (1.16.0)
Installing collected packages: feature_engine
Successfully installed feature_engine-1.6.0

In [4]:
!pip install Dora

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Dora
  Downloading Dora-0.0.3.tar.gz (4.9 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.9/dist-packages (from Dora) (3.7.1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.9/dist-packages (from Dora) (1.5.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.9/dist-packages (from Dora) (1.22.4)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.9/dist-packages (from Dora) (1.10.1)
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [79]:
!pip install --upgrade autoviml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: autoviml in /usr/local/lib/python3.9/dist-packages (0.1.713)
Requirement already satisfied: numpy~=1.19.5 in /usr/local/lib/python3.9/dist-packages (from autoviml) (1.19.5)
Requirement already satisfied: textblob in /usr/local/lib/python3.9/dist-packages (from autoviml) (0.17.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from autoviml) (3.6.3)
Requirement already satisfied: emoji in /usr/local/lib/python3.9/dist-packages (from autoviml) (2.2.0)
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/dist-packages (from autoviml) (2.0.1)
Requirement already satisfied: shap>=0.36.0 in /usr/local/lib/python3.9/dist-packages (from autoviml) (0.41.0)
Requirement already satisfied: scikit-learn~=1.1 in /usr/local/lib/python3.9/dist-packages (from autoviml) (1.2.2)
Requirement already satisfied: imbalanced-ensemble>=0.2.0 in /usr/local/lib/python3.9/dist-packages (from autoviml) (0.2.0)
Requirement already satisfied: regex in /usr/local/lib/python3.9/dist-packages (from autoviml) (2022.10.31)
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (from autoviml) (3.8.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.9/dist-packages (from autoviml) (7.34.0)
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.9/dist-packages (from autoviml) (3.3.2)
Requirement already satisfied: lightgbm>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from autoviml) (3.3.5)
Requirement already satisfied: xgboost~=1.1.1 in /usr/local/lib/python3.9/dist-packages (from autoviml) (1.1.1)
Requirement already satisfied: jupyter in /usr/local/lib/python3.9/dist-packages (from autoviml) (1.0.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.9/dist-packages (from autoviml) (0.12.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from autoviml) (4.11.2)
Requirement already satisfied: pandas>=1.1.3 in /usr/local/lib/python3.9/dist-packages (from autoviml) (1.4.4)
Requirement already satisfied: imbalanced-learn>=0.10.1 in /usr/local/lib/python3.9/dist-packages (from autoviml) (0.10.1)
Requirement already satisfied: catboost in /usr/local/lib/python3.9/dist-packages (from autoviml) (1.1.1)
Requirement already satisfied: scipy>=1.9.1 in /usr/local/lib/python3.9/dist-packages (from imbalanced-ensemble>=0.2.0->autoviml) (1.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.9/dist-packages (from imbalanced-ensemble>=0.2.0->autoviml) (1.1.1)
Requirement already satisfied: tqdm>=4.50.2 in /usr/local/lib/python3.9/dist-packages (from imbalanced-ensemble>=0.2.0->autoviml) (4.65.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from imbalanced-learn>=0.10.1->autoviml) (3.1.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.9/dist-packages (from lightgbm>=3.0.0->autoviml) (0.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (8.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->autoviml) (4.39.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.1.3->autoviml) (2022.7.1)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.9/dist-packages (from shap>=0.36.0->autoviml) (2.2.1)
Requirement already satisfied: slicer==0.0.7 in /usr/local/lib/python3.9/dist-packages (from shap>=0.36.0->autoviml) (0.0.7)
Requirement already satisfied: numba in /usr/local/lib/python3.9/dist-packages (from shap>=0.36.0->autoviml) (0.56.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->autoviml) (2.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.9/dist-packages (from catboost->autoviml) (5.13.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.9/dist-packages (from catboost->autoviml) (0.20.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from catboost->autoviml) (1.16.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (2.14.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (0.18.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (67.6.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (3.0.38)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (5.7.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/dist-packages (from ipython->autoviml) (0.1.6)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.9/dist-packages (from jupyter->autoviml) (6.1.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.9/dist-packages (from jupyter->autoviml) (7.7.1)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.9/dist-packages (from jupyter->autoviml) (5.4.2)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.9/dist-packages (from jupyter->autoviml) (5.5.6)
Requirement already satisfied: notebook in /usr/local/lib/python3.9/dist-packages (from jupyter->autoviml) (6.4.8)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.9/dist-packages (from jupyter->autoviml) (6.5.4)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk->autoviml) (8.1.3)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from vaderSentiment->autoviml) (2.27.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.16->ipython->autoviml) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect>4.3->ipython->autoviml) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->autoviml) (0.2.6)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipykernel->jupyter->autoviml) (6.2)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.9/dist-packages (from ipykernel->jupyter->autoviml) (0.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.9/dist-packages (from ipykernel->jupyter->autoviml) (6.1.12)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets->jupyter->autoviml) (3.6.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets->jupyter->autoviml) (3.0.7)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (0.7.3)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (1.2.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (0.7.1)
Requirement already satisfied: nbformat>=5.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (5.8.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (4.9.2)
Requirement already satisfied: jinja2>=3.0 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (5.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (6.0.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (0.8.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (2.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (0.4)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (0.2.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->jupyter->autoviml) (1.5.0)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.9/dist-packages (from notebook->jupyter->autoviml) (1.5.6)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.9/dist-packages (from notebook->jupyter->autoviml) (0.16.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.9/dist-packages (from notebook->jupyter->autoviml) (1.8.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.9/dist-packages (from notebook->jupyter->autoviml) (21.3.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.9/dist-packages (from notebook->jupyter->autoviml) (23.2.1)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.9/dist-packages (from notebook->jupyter->autoviml) (0.17.1)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.9/dist-packages (from numba->shap>=0.36.0->autoviml) (0.39.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly->catboost->autoviml) (8.2.2)
Requirement already satisfied: qtpy>=2.0.1 in /usr/local/lib/python3.9/dist-packages (from qtconsole->jupyter->autoviml) (2.3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment->autoviml) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment->autoviml) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment->autoviml) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment->autoviml) (2022.12.7)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core>=4.7->nbconvert->jupyter->autoviml) (3.2.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat>=5.1->nbconvert->jupyter->autoviml) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat>=5.1->nbconvert->jupyter->autoviml) (2.16.3)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.9/dist-packages (from argon2-cffi->notebook->jupyter->autoviml) (21.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from bleach->nbconvert->jupyter->autoviml) (0.5.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->autoviml) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->autoviml) (22.2.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->autoviml) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->autoviml) (2.21)

In [5]:
!pip install h2o

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h2o
  Downloading h2o-3.40.0.3.tar.gz (177.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.6/177.6 MB 7.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from h2o) (2.27.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.9/dist-packages (from h2o) (0.8.10)
Requirement already satisfied: future in /usr/local/lib/python3.9/dist-packages (from h2o) (0.18.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->h2o) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->h2o) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->h2o) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->h2o) (2022.12.7)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.40.0.3-py2.py3-none-any.whl size=177694727 sha256=4daa50c864bf37daef258a085f1394ec5b53b214defcfc24157f0139b3323e8d
  Stored in directory: /root/.cache/pip/wheels/9a/54/b6/c9ab3e71309ef0000bbe39e715020dc151bbfc557784b7f4c9
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.40.0.3

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from tpot import TPOTRegressor
from sklearn.preprocessing import MinMaxScaler
from google.colab import drive
import calendar
from datetime import datetime
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn import set_config
from xgboost import XGBRegressor
from feature_engine.imputation import MeanMedianImputer
from feature_engine.outliers import Winsorizer
from feature_engine import transformation
from feature_engine.encoding import OneHotEncoder
from feature_engine.imputation import CategoricalImputer
# from Dora import Dora
# from autoviml import AutoVIML
import h2o
from h2o.automl import H2OAutoML

In [8]:
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df = pd.read_csv("/content/drive/MyDrive/Data100.csv");
df.head()

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost
0,27-02-2023,9:50 AM,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,22479.21
1,26-02-2023,9:37 AM,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,21314.28
2,25-02-2023,9:37 AM,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,20188.11
3,24-02-2023,9:37 AM,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,18293.84
4,23-02-2023,9:18 AM,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,18437.81

In [10]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

<ipython-input-10-68239123ebe5>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost
0,2023-02-27,9:50 AM,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,22479.21
1,2023-02-26,9:37 AM,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,21314.28
2,2023-02-25,9:37 AM,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,20188.11
3,2023-02-24,9:37 AM,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,18293.84
4,2023-02-23,9:18 AM,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,18437.81

In [11]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df.head()

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost,year,month,day
0,2023-02-27,9:50 AM,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,22479.21,2023,2,27
1,2023-02-26,9:37 AM,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,21314.28,2023,2,26
2,2023-02-25,9:37 AM,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,20188.11,2023,2,25
3,2023-02-24,9:37 AM,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,18293.84,2023,2,24
4,2023-02-23,9:18 AM,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,18437.81,2023,2,23

In [12]:
df.month.unique()

array([ 2, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  1])

In [13]:
def changeMonthToString(m):
  return calendar.month_abbr[m]

df.month = df.month.apply(changeMonthToString)
df.head()

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost,year,month,day
0,2023-02-27,9:50 AM,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,22479.21,2023,Feb,27
1,2023-02-26,9:37 AM,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,21314.28,2023,Feb,26
2,2023-02-25,9:37 AM,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,20188.11,2023,Feb,25
3,2023-02-24,9:37 AM,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,18293.84,2023,Feb,24
4,2023-02-23,9:18 AM,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,18437.81,2023,Feb,23

In [14]:
df['time'] = df['time'].apply(lambda x: datetime.strptime(x, "%I:%M %p"))
df.head()

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost,year,month,day
0,2023-02-27,1900-01-01 09:50:00,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,22479.21,2023,Feb,27
1,2023-02-26,1900-01-01 09:37:00,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,21314.28,2023,Feb,26
2,2023-02-25,1900-01-01 09:37:00,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,20188.11,2023,Feb,25
3,2023-02-24,1900-01-01 09:37:00,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,18293.84,2023,Feb,24
4,2023-02-23,1900-01-01 09:18:00,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,18437.81,2023,Feb,23

In [15]:
df['hour'] = 0
df['minutes'] = 0
df['am_pm'] = 0

In [16]:
df.head()

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,...,Lead time,Production time,units produced,Production cost,year,month,day,hour,minutes,am_pm
0,2023-02-27,1900-01-01 09:50:00,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,...,7.56,5.87,9896.15,22479.21,2023,Feb,27,0,0,0
1,2023-02-26,1900-01-01 09:37:00,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,...,9.51,5.62,10181.58,21314.28,2023,Feb,26,0,0,0
2,2023-02-25,1900-01-01 09:37:00,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,...,8.49,5.89,8772.00,20188.11,2023,Feb,25,0,0,0
3,2023-02-24,1900-01-01 09:37:00,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,...,9.22,5.52,9297.99,18293.84,2023,Feb,24,0,0,0
4,2023-02-23,1900-01-01 09:18:00,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,...,9.82,4.02,NaN,18437.81,2023,Feb,23,0,0,0

In [17]:
for i in range(0, df.shape[0]):
  df.loc[i, 'hour'] = df.loc[i, 'time'].hour
  df.loc[i, 'minutes'] = df.loc[i, 'time'].minute
  df.loc[i, 'am_pm'] = df.loc[i, 'time'].strftime("%p")
df.head()

,Date,time,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,...,Lead time,Production time,units produced,Production cost,year,month,day,hour,minutes,am_pm
0,2023-02-27,1900-01-01 09:50:00,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,...,7.56,5.87,9896.15,22479.21,2023,Feb,27,9,50,AM
1,2023-02-26,1900-01-01 09:37:00,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,...,9.51,5.62,10181.58,21314.28,2023,Feb,26,9,37,AM
2,2023-02-25,1900-01-01 09:37:00,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,...,8.49,5.89,8772.00,20188.11,2023,Feb,25,9,37,AM
3,2023-02-24,1900-01-01 09:37:00,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,...,9.22,5.52,9297.99,18293.84,2023,Feb,24,9,37,AM
4,2023-02-23,1900-01-01 09:18:00,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,...,9.82,4.02,NaN,18437.81,2023,Feb,23,9,18,AM

In [18]:
df.drop(['Date', 'time'], axis=1, inplace=True)
df.head()

,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Customer ID,Diameter,Length,Grade,Current stock,...,Lead time,Production time,units produced,Production cost,year,month,day,hour,minutes,am_pm
0,Pune,555475.94,7.21,64.99,Rainy,4D2AE84F,16.39,8.84,Fe-600,5838.97,...,7.56,5.87,9896.15,22479.21,2023,Feb,27,9,50,AM
1,Pune,543257.63,7.23,64.25,Rainy,4D2AE84F,16.14,13.99,Fe-600D,7101.46,...,9.51,5.62,10181.58,21314.28,2023,Feb,26,9,37,AM
2,Pune,549079.25,7.82,64.01,Rainy,D335CD9E,12.39,15.20,Fe-600D,7657.32,...,8.49,5.89,8772.00,20188.11,2023,Feb,25,9,37,AM
3,Pune,553544.75,8.15,67.09,Rainy,D335CD9E,12.16,19.76,Fe-600D,8517.74,...,9.22,5.52,9297.99,18293.84,2023,Feb,24,9,37,AM
4,Delhi,554675.13,8.58,66.92,Rainy,28EAC590,11.94,28.12,Fe-600D,10653.78,...,9.82,4.02,NaN,18437.81,2023,Feb,23,9,18,AM

In [19]:
df.drop(['Customer ID'], axis=1, inplace=True)
df.head()

,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost,year,month,day,hour,minutes,am_pm
0,Pune,555475.94,7.21,64.99,Rainy,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,22479.21,2023,Feb,27,9,50,AM
1,Pune,543257.63,7.23,64.25,Rainy,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,21314.28,2023,Feb,26,9,37,AM
2,Pune,549079.25,7.82,64.01,Rainy,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,20188.11,2023,Feb,25,9,37,AM
3,Pune,553544.75,8.15,67.09,Rainy,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,18293.84,2023,Feb,24,9,37,AM
4,Delhi,554675.13,8.58,66.92,Rainy,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,18437.81,2023,Feb,23,9,18,AM

**Feature_engine auto preprocessor**

In [20]:
all_numeric_columns = list(df.select_dtypes(['int64', 'float64']).columns)
all_categorical_columns = list(df.select_dtypes('object').columns)

In [97]:
all_numeric_columns

['Sales in Rs/T',
 'Sales volume in Tonnes',
 'Price/ kg',
 'Diameter',
 'Length',
 'Current stock',
 'Re-order',
 'Lead time',
 'Production time',
 'units produced',
 'Production cost',
 'year',
 'day',
 'hour',
 'minutes']

In [98]:
all_numeric_columns.remove('Production cost')

In [99]:
all_categorical_columns

['Location', 'Climate', 'Grade', 'month', 'am_pm']

In [100]:
imputer = MeanMedianImputer(imputation_method='median', variables=all_numeric_columns)
outlier_remover = Winsorizer(capping_method='quantiles', tail='both', fold=0.05, variables=all_numeric_columns)
cat_impute = CategoricalImputer(imputation_method='missing', variables=all_categorical_columns)
scaler = StandardScaler()
onehot = OneHotEncoder(variables=all_categorical_columns)

In [101]:

cleaned_df = imputer.fit_transform(df)
cleaned_df = outlier_remover.fit_transform(cleaned_df)
cleaned_df = cat_impute.fit_transform(cleaned_df)
cleaned_df = onehot.fit_transform(cleaned_df)
cleaned_df = pd.DataFrame(scaler.fit_transform(cleaned_df), columns=cleaned_df.columns)
cleaned_df
# df.isna().sum()

,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Diameter,Length,Current stock,Re-order,Lead time,Production time,units produced,...,month_Sep,month_Aug,month_Jul,month_Jun,month_May,month_Apr,month_Mar,month_Jan,am_pm_AM,am_pm_PM
0,0.301937,-0.800546,0.728383,0.072544,-1.754859,-1.748847,0.457684,-0.160391,1.808318,-0.678511,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187
1,0.126661,-0.788889,0.464205,-0.006983,-0.874098,-1.178555,1.503400,0.751805,1.564875,-0.487435,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187
2,0.210175,-0.445000,0.378526,-1.199890,-0.612892,-0.815172,1.263085,0.274656,1.808318,-1.431053,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187
3,0.274234,-0.252655,1.478078,-1.273054,0.371488,-0.252688,1.202667,0.616145,1.463440,-1.078938,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187
4,0.290450,-0.002024,1.417388,-1.343038,1.776820,1.143708,1.779689,0.896821,-0.058079,-0.004536,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.544670,0.050433,-0.114131,0.132985,0.093012,0.749469,-0.889651,0.845364,-1.295582,1.060052,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187
9996,0.525863,-0.153569,-1.335062,-0.236021,-1.700891,-0.975630,-1.765876,0.017370,-0.413101,0.595037,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187
9997,0.332373,0.295236,-1.177983,-1.066284,-0.153083,-0.653262,-1.765876,1.135396,-0.768122,0.424399,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,-1.028609,1.028609
9998,0.136700,0.545867,-0.553237,0.250685,0.641329,0.493559,-0.078344,0.934245,-1.041995,-0.004536,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,-1.028609,1.028609
9999,-1.091728,-0.561572,0.225017,1.857291,0.654281,1.741624,1.068305,0.017370,0.621533,0.224721,...,-0.29768,-0.303022,-0.303022,-0.29768,-0.303022,-0.29768,-0.303022,-0.306744,0.972187,-0.972187

**Dora preprocessing**

In [69]:
dora = Dora(output = 0, data = df)
dora.data

,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,Production cost,year,month,day,hour,minutes,am_pm
0,Pune,555475.94,7.21,64.99,Rainy,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,22479.21,2023,Feb,27,9,50,AM
1,Pune,543257.63,7.23,64.25,Rainy,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,21314.28,2023,Feb,26,9,37,AM
2,Pune,549079.25,7.82,64.01,Rainy,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,20188.11,2023,Feb,25,9,37,AM
3,Pune,553544.75,8.15,67.09,Rainy,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,18293.84,2023,Feb,24,9,37,AM
4,Delhi,554675.13,8.58,66.92,Rainy,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,18437.81,2023,Feb,23,9,18,AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Hyderabad,572396.56,8.67,62.63,Winter,16.58,18.47,Fe-500D,10050.72,839.01,9.71,2.80,12493.22,19874.93,1995,Oct,17,11,31,AM
9996,Delhi,571085.56,8.32,59.21,Winter,15.42,10.16,Fe-500D,7411.87,638.01,NaN,3.67,11798.58,19461.82,1995,Oct,16,11,50,AM
9997,Hyderabad,557597.56,9.09,59.65,Winter,12.81,17.33,Fe-500D,7904.99,645.02,10.33,3.32,11543.68,17701.79,1995,Oct,15,13,16,PM
9998,Kolkata,543957.38,9.52,61.40,Winter,16.95,21.01,Fe-550,9659.26,976.38,9.90,3.05,NaN,18750.50,1995,Oct,14,16,38,PM
9999,Kolkata,458324.91,7.62,63.58,Winter,23.78,21.07,Fe-550,11568.40,1170.53,7.94,4.69,11245.40,19096.81,1995,Oct,13,10,10,AM

In [72]:
dora.scale_input_values()
dora.data

ValueError: ignored

In [102]:
y = df['Production cost']

In [103]:
y

0       22479.21
1       21314.28
2       20188.11
3       18293.84
4       18437.81
          ...
9995    19874.93
9996    19461.82
9997    17701.79
9998    18750.50
9999    19096.81
Name: Production cost, Length: 10000, dtype: float64

In [104]:
X = df.drop(['Production cost'], axis=1)
X.head()

,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,year,month,day,hour,minutes,am_pm
0,Pune,555475.94,7.21,64.99,Rainy,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,2023,Feb,27,9,50,AM
1,Pune,543257.63,7.23,64.25,Rainy,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,2023,Feb,26,9,37,AM
2,Pune,549079.25,7.82,64.01,Rainy,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,2023,Feb,25,9,37,AM
3,Pune,553544.75,8.15,67.09,Rainy,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,2023,Feb,24,9,37,AM
4,Delhi,554675.13,8.58,66.92,Rainy,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,2023,Feb,23,9,18,AM

In [105]:
X.head()

,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,year,month,day,hour,minutes,am_pm
0,Pune,555475.94,7.21,64.99,Rainy,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,2023,Feb,27,9,50,AM
1,Pune,543257.63,7.23,64.25,Rainy,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,2023,Feb,26,9,37,AM
2,Pune,549079.25,7.82,64.01,Rainy,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,2023,Feb,25,9,37,AM
3,Pune,553544.75,8.15,67.09,Rainy,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,2023,Feb,24,9,37,AM
4,Delhi,554675.13,8.58,66.92,Rainy,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,2023,Feb,23,9,18,AM

In [106]:
X_numeric = X.select_dtypes(['int64', 'float64'])
X_string = X.select_dtypes('object')

In [107]:
mnx = MinMaxScaler()
X_numeric = pd.DataFrame(mnx.fit_transform(X_numeric), columns = X_numeric.columns)
X_numeric.head()

,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Diameter,Length,Current stock,Re-order,Lead time,Production time,units produced,year,day,hour,minutes
0,0.467531,0.170077,0.629115,0.359095,0.161377,0.164056,0.563410,0.476003,0.830420,0.350385,1.0,0.866667,0.0,0.847458
1,0.426490,0.172634,0.591049,0.347314,0.358317,0.291133,0.755987,0.629426,0.786713,0.387616,1.0,0.833333,0.0,0.627119
2,0.446045,0.248082,0.578704,0.170594,0.404589,0.347084,0.711731,0.549174,0.833916,0.203753,1.0,0.800000,0.0,0.627119
3,0.461044,0.290281,0.737140,0.159755,0.578967,0.433691,0.700605,0.606609,0.769231,0.272362,1.0,0.766667,0.0,0.627119
4,0.464841,0.345269,0.728395,0.149387,0.898662,0.648697,0.827739,0.653816,0.506993,NaN,1.0,0.733333,0.0,0.305085

In [108]:
X_string = pd.get_dummies(X_string)

In [109]:
X_normalised = pd.concat([X_numeric, X_string], axis=1)

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X_normalised, y,
                                                    train_size=0.75, test_size=0.25)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((7500, 44), (2500, 44), (7500,), (2500,))

In [111]:
X_train.head()

,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Diameter,Length,Current stock,Re-order,Lead time,Production time,units produced,...,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep,am_pm_AM,am_pm_PM
5979,0.981655,0.966752,0.633745,0.362865,0.681453,0.661805,0.237639,0.247836,0.437063,0.555104,...,0,0,0,0,0,0,1,0,1,0
3390,0.580677,0.271100,0.485082,0.133836,0.580880,0.290820,0.573710,0.553895,0.580420,0.092046,...,0,0,0,0,0,1,0,0,1,0
8869,0.903008,0.919437,0.581790,0.396795,0.823709,0.481734,0.338790,0.631786,0.414336,0.337795,...,0,0,0,0,0,1,0,0,1,0
4617,0.330421,0.382353,0.477366,0.291706,0.562141,0.519725,0.621109,0.506688,0.486014,0.402860,...,0,0,0,0,0,0,0,0,0,1
5353,0.278498,0.163683,0.721708,0.549953,0.406119,0.790357,0.733908,0.690008,0.330420,NaN,...,0,0,0,0,0,0,0,0,1,0

**TPOT AutoML**

In [ ]:
tpot = TPOTRegressor(generations=5, population_size=20, verbosity=2, max_time_mins=10)
tpot.fit(X_train, y_train)
print(tpot.fitted_pipeline_)

Imputing missing values in feature set

Optimization Progress:   0%|          | 0/20 [00:00<?, ?pipeline/s]

11.21 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: GradientBoostingRegressor(input_matrix, alpha=0.75, learning_rate=0.5, loss=huber, max_depth=2, max_features=0.5, min_samples_leaf=2, min_samples_split=9, n_estimators=100, subsample=0.9500000000000001)
Pipeline(steps=[('gradientboostingregressor',
                 GradientBoostingRegressor(alpha=0.75, learning_rate=0.5,
                                           loss='huber', max_depth=2,
                                           max_features=0.5, min_samples_leaf=2,
                                           min_samples_split=9,
                                           subsample=0.9500000000000001))])

In [ ]:
y_tpot_train_pred = tpot.predict(X_train)

Imputing missing values in feature set

In [ ]:
y_tpot_train_pred

array([19171.57945454, 21909.61261945, 20480.09422044, ...,
       21726.43434635, 20256.91467635, 19390.17614014])

In [ ]:
rmse_tpot_train_pred = np.sqrt(mean_squared_error(y_train, y_tpot_train_pred))
rmse_tpot_train_pred

915.5354251589608

In [ ]:
y_tpot_test_pred = tpot.predict(X_test)
y_tpot_test_pred

Imputing missing values in feature set

array([18707.96064434, 21006.09598961, 22183.13716397, ...,
       21921.72795644, 21256.69662614, 20100.97668674])

In [ ]:
rmse_tpot_test_pred = np.sqrt(mean_squared_error(y_test, y_tpot_test_pred))
rmse_tpot_test_pred

1011.02340072703

**Pipeline**

In [112]:
all_numeric_columns = list(df.select_dtypes(['int64', 'float64']).columns)
all_categorical_columns = list(df.select_dtypes('object').columns)

In [113]:
all_numeric_columns

['Sales in Rs/T',
 'Sales volume in Tonnes',
 'Price/ kg',
 'Diameter',
 'Length',
 'Current stock',
 'Re-order',
 'Lead time',
 'Production time',
 'units produced',
 'Production cost',
 'year',
 'day',
 'hour',
 'minutes']

In [114]:
all_categorical_columns

['Location', 'Climate', 'Grade', 'month', 'am_pm']

In [115]:
all_numeric_columns.remove('Production cost')

In [116]:
set_config(display="diagram")

In [119]:
numeric_transformer = Pipeline(steps=[
    ('impmean', SimpleImputer(strategy='mean')),
    ('outlier_remove', Winsorizer(capping_method='quantiles', tail='both', fold=0.05)),
    ('num', StandardScaler()),
])

categorical_transformer = Pipeline(steps=[
    ('impmode', SimpleImputer(strategy='most_frequent')),
    ('cat', OneHotEncoder()),
])

# Define the column transformer with the preprocessing steps for each column type
preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer, all_numeric_columns),
    ('cat', categorical_transformer, all_categorical_columns)
], sparse_threshold=0, remainder='passthrough')

preprocessor

ColumnTransformer(remainder='passthrough', sparse_threshold=0,
                  transformers=[('num',
                                 Pipeline(steps=[('impmean', SimpleImputer()),
                                                 ('outlier_remove',
                                                  Winsorizer(capping_method='quantiles',
                                                             fold=0.05,
                                                             tail='both')),
                                                 ('num', StandardScaler())]),
                                 ['Sales in Rs/T', 'Sales volume in Tonnes',
                                  'Price/ kg', 'Diameter', 'Length',
                                  'Current stock', 'Re-order', 'Lead time',
                                  'Production time', 'units produced', 'year',
                                  'day', 'hour', 'minutes']),
                                ('cat',
                                 Pipeline(steps=[('impmode',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('cat', OneHotEncoder())]),
                                 ['Location', 'Climate', 'Grade', 'month',
                                  'am_pm'])])

In [120]:
model_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', XGBRegressor())
])
model_pipeline

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough', sparse_threshold=0,
                                   transformers=[('num',
                                                  Pipeline(steps=[('impmean',
                                                                   SimpleImputer()),
                                                                  ('outlier_remove',
                                                                   Winsorizer(capping_method='quantiles',
                                                                              fold=0.05,
                                                                              tail='both')),
                                                                  ('num',
                                                                   StandardScaler())]),
                                                  ['Sales in Rs/T',
                                                   'Sales volume in Tonnes',
                                                   'Price/ kg', 'Diameter',
                                                   'Length', 'Current stock',
                                                   'R...
                              feature_types=None, gamma=None, gpu_id=None,
                              grow_policy=None, importance_type=None,
                              interaction_constraints=None, learning_rate=None,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=None, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, n_estimators=100,
                              n_jobs=None, num_parallel_tree=None,
                              predictor=None, random_state=None, ...))])

In [121]:
y_pipeline = df['Production cost']
y_pipeline

0       22479.21
1       21314.28
2       20188.11
3       18293.84
4       18437.81
          ...
9995    19874.93
9996    19461.82
9997    17701.79
9998    18750.50
9999    19096.81
Name: Production cost, Length: 10000, dtype: float64

In [122]:
X_pipeline = df.drop(['Production cost'], axis=1)
X_pipeline.head()

,Location,Sales in Rs/T,Sales volume in Tonnes,Price/ kg,Climate,Diameter,Length,Grade,Current stock,Re-order,Lead time,Production time,units produced,year,month,day,hour,minutes,am_pm
0,Pune,555475.94,7.21,64.99,Rainy,16.39,8.84,Fe-600,5838.97,1067.14,7.56,5.87,9896.15,2023,Feb,27,9,50,AM
1,Pune,543257.63,7.23,64.25,Rainy,16.14,13.99,Fe-600D,7101.46,1244.20,9.51,5.62,10181.58,2023,Feb,26,9,37,AM
2,Pune,549079.25,7.82,64.01,Rainy,12.39,15.20,Fe-600D,7657.32,1203.51,8.49,5.89,8772.00,2023,Feb,25,9,37,AM
3,Pune,553544.75,8.15,67.09,Rainy,12.16,19.76,Fe-600D,8517.74,1193.28,9.22,5.52,9297.99,2023,Feb,24,9,37,AM
4,Delhi,554675.13,8.58,66.92,Rainy,11.94,28.12,Fe-600D,10653.78,1310.17,9.82,4.02,NaN,2023,Feb,23,9,18,AM

In [124]:
X_pipeline_train, X_pipeline_test, y_pipeline_train, y_pipeline_test = train_test_split(X_pipeline, y_pipeline, train_size=0.75, test_size=0.25)

In [125]:
X_pipeline_train.columns

Index(['Location', 'Sales in Rs/T', 'Sales volume in Tonnes', 'Price/ kg',
       'Climate', 'Diameter', 'Length', 'Grade', 'Current stock', 'Re-order',
       'Lead time', 'Production time', 'units produced', 'year', 'month',
       'day', 'hour', 'minutes', 'am_pm'],
      dtype='object')

In [126]:
model_pipeline.fit(X_pipeline_train, y_pipeline_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough', sparse_threshold=0,
                                   transformers=[('num',
                                                  Pipeline(steps=[('impmean',
                                                                   SimpleImputer()),
                                                                  ('outlier_remove',
                                                                   Winsorizer(capping_method='quantiles',
                                                                              fold=0.05,
                                                                              tail='both')),
                                                                  ('num',
                                                                   StandardScaler())]),
                                                  ['Sales in Rs/T',
                                                   'Sales volume in Tonnes',
                                                   'Price/ kg', 'Diameter',
                                                   'Length', 'Current stock',
                                                   'R...
                              feature_types=None, gamma=None, gpu_id=None,
                              grow_policy=None, importance_type=None,
                              interaction_constraints=None, learning_rate=None,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=None, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, n_estimators=100,
                              n_jobs=None, num_parallel_tree=None,
                              predictor=None, random_state=None, ...))])

In [127]:
y_pipeline_train_pred = model_pipeline.predict(X_pipeline_train)
rmse_pipeline_train_pred = np.sqrt(mean_squared_error(y_pipeline_train, y_pipeline_train_pred))
rmse_pipeline_train_pred

401.7082809484976

In [128]:
y_pipeline_test_pred = model_pipeline.predict(X_pipeline_test)
rmse_pipeline_test_pred = np.sqrt(mean_squared_error(y_pipeline_test, y_pipeline_test_pred))
rmse_pipeline_test_pred

1061.7299827813818

**H2O AutoML**

In [138]:
h2o.init()
data = h2o.import_file("/content/drive/MyDrive/Data100.csv")
target = "Production cost"
train, valid = data.split_frame(ratios=[0.8])
aml = H2OAutoML(max_models=10, seed=1)
aml.train(y=target, training_frame=train)
lb = aml.leaderboard
print(lb)

Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  -----------------------------------------------------------------------------------------
H2O_cluster_uptime:         8 mins 15 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.40.0.3
H2O_cluster_version_age:    7 days, 5 hours and 56 minutes
H2O_cluster_name:           H2O_from_python_unknownUser_0p7mox
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.171 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null, "colab_language_server": "/usr/colab/bin/language_service"}
H2O_internal_security:      False
Python_version:             3.9.16 final
--------------------------  -----------------------------------------------------------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |
17:47:57.278: _train param, Dropping bad and constant columns: [Date]

██
17:48:14.718: _train param, Dropping bad and constant columns: [Date]


17:48:18.32: _train param, Dropping bad and constant columns: [Date]

████
17:48:52.514: _train param, Dropping bad and constant columns: [Date]


17:49:06.329: _train param, Dropping bad and constant columns: [Date]

███
17:50:30.137: _train param, Dropping bad and constant columns: [Date]


17:50:44.942: _train param, Dropping bad and constant columns: [Date]

█
17:51:00.74: _train param, Dropping bad and constant columns: [Date]

██
17:51:14.617: _train param, Dropping bad and constant columns: [Date]


17:51:26.832: _train param, Dropping bad and constant columns: [Date]

███
17:53:16.549: _train param, Dropping unused columns: [Date]

█
17:53:22.850: _train param, Dropping unused columns: [Date]

███████████████████████████████████████████████| (done) 100%
model_id                                                     rmse               mse      mae      rmsle    mean_residual_deviance
StackedEnsemble_AllModels_1_AutoML_1_20230411_174756      912.309  832309            723.125  0.0455206          832309
StackedEnsemble_BestOfFamily_1_AutoML_1_20230411_174756   926.036  857543            733.802  0.0461918          857543
XGBoost_3_AutoML_1_20230411_174756                        975.587  951770            772.973  0.0486764          951770
GBM_1_AutoML_1_20230411_174756                            981.983  964291            777.766  0.0489228          964291
GBM_2_AutoML_1_20230411_174756                            985.717  971637            778.537  0.0491465          971637
GBM_3_AutoML_1_20230411_174756                            986.405  972994            778.942  0.0491965          972994
GBM_4_AutoML_1_20230411_174756                            990.021  980142            784.274  0.0493497          980142
DRF_1_AutoML_1_20230411_174756                           1005.75        1.01153e+06  798.311  0.0500727               1.01153e+06
XGBoost_2_AutoML_1_20230411_174756                       1025.43        1.05151e+06  807.653  0.0511582               1.05151e+06
XGBoost_1_AutoML_1_20230411_174756                       1053.48        1.10983e+06  835.559  0.0525066               1.10983e+06
[12 rows x 6 columns]

In [142]:
valid_predictions_h2o = aml.leader.predict(valid)
valid_predictions_h2o

stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%

  predict
---------
  23046.9
  20708.3
  19842
  19339.6
  21600.6
  19429.8
  20681.6
  20242.4
  20846.1
  21424.6
[1968 rows x 1 column]

In [143]:
perf = aml.leader.model_performance(valid)
rmse_valid = perf.rmse()
print("RMSE score:", rmse_valid)

RMSE score: 915.8472690833108

In [144]:
perf = aml.leader.model_performance(train)
rmse_train = perf.rmse()
print("RMSE score:", rmse_train)

RMSE score: 471.52636330126086

In [ ]:
############### TODO ##############################
# from google.cloud import automl_v1beta1 as automl
# from google.oauth2 import service_account
# import pandas as pd

# # Set up authentication
# credentials = service_account.Credentials.from_service_account_file('/content/drive/MyDrive/client_secret_693443745784-t5nkiqj6nbhumr22ndobat7hdmevr2kk.apps.googleusercontent.com.json')

# # Set up client
# client = automl.AutoMlClient(credentials=credentials)
# project_id = 'your-project-id'
# model_id = 'your-model-id'
# model_full_id = client.model_path(project_id, 'us-central1', model_id)

# # Load input data
# input_data = pd.read_csv('path/to/input/data.csv')

# # Convert input data to AutoML format
# automl_data = {'time_series': []}
# for i, row in input_data.iterrows():
#     automl_data['time_series'].append({
#         'values': row.drop('timestamp').tolist(),
#         'time': row['timestamp']
#     })

# # Set up input config
# payload = {'time_series': automl_data}

# # Make prediction request
# response = client.predict(model_full_id, payload)

# # Process prediction response
# predicted_values = []